@charset "utf-8";

/* selector {
    property: value;
} */

* {
    color: green;
}

li {
    color: blue;
}
/* 구체적으로 태그 가까이 설정한 것이 우선순위가 됨 */

li#special {
    color: pink;
}

.red {
    width: 100px;
    height: 100px;
    padding: 0px 20px;
    margin: 20px;
    border: 2px dashed red;
    background: yellow;
}

button:hover {
    color: red;
    background: beige;
}

a[href$=".com"] {
    color: purple;
}